/** @format */

* {
  background-color: rgb(217, 226, 235);
  text-decoration: none;
}

.homeTitle {
  font-family: "Libre Baskerville", serif;
  font-size: 150px;
  margin: 0px;
  line-height: 0.9em;
  transition-duration: 0.5s;
  color: black;
}

.homeTitle:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  transition-duration: 0.5s;
}

.homeSubtitle {
  font-family: "Sacramento", cursive;
  font-size: 100px;
  line-height: 0em;
  margin: 0px;
  text-indent: 1em;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 #000,
    1px 1px 0 white;
}
