/** @format */

* {
  text-decoration: none;
  color: black;
  /* background-color: rgb(217, 226, 235); */
  /* background-image: url("/src//components/background.jpg"); */
}

.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* background-image: url("./components/background.jpg"); */
  border-color: red;
  border-width: 1em;
  border-style: solid;
}

.homeTitle {
  grid-area: 3 / 2 / 5 / 5;
  font-family: "Roboto", serif;
  font-size: 150px;
  margin: 0px;
  line-height: 0.9em;
  transition-duration: 0.5s;
  color: black;
}

.homeTitle:hover {
  grid-area: 3 / 2 / 5 / 5;
  color: rgb(217, 226, 235);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  transition-duration: 0.5s;
}

.homeSubtitle {
  grid-area: 4 / 3 / 5 / 4;
  font-family: "Sacramento", cursive;
  font-size: 100px;
  line-height: 0em;
  margin: 0px;
  text-indent: 1em;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 #000,
    1px 1px 0 white;
}

.navigation {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-around;
  border-style: solid;
  border-color: green;
}

.p {
  font-family: "Roboto Thin 100", sans-serif;
  color: black;
}

.p:hover {
  font-family: "Roboto", sans-serif;
}
